	<div class="whtsapp_bloc">
		<a  href="https://wa.me/33699884765?text={{ 'Welcome to Jefferson&apos;s VTC Paris, how can we help?'|trans }}" class="whtsapp_link">           
			<div class="whtsapp_wrapper">
				<img src="/themes/gavias_huggi/images/whatsapp-logo-32x32.png" class="whtsapp_img" alt="WhatsApp">
				{{ 'WhatsApp us'|trans }}            
			</div>
		</a> 
	</div>